body
{
    color: #000000;
    padding: 0px;
}
h1
{
    color: #ff0000;
}
h2
{
    color: #ff0000;
}
h3
{
    color: #ff0000;
}
li
{
    font-style: italic;
}
nav#navbar a
{
    display: block;
    border: 1px solid black;
    padding: 5px;
    margin: 10px 0;
    text-decoration: none;
    color: black;
}