body
{
    color: #000000;
    padding: 0px;
}
h1
{
    color: #ff0000;
}
h2
{
    color: #ff0000;
}
h3
{
    color: #ff0000;
}
li
{
    font-style: italic;
}
#navbar
{
    grid-area: navbar;
    position: fixed;
}